version: '3.8'

services:
  # 1. BROKER DE MENSAJES
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # AMQP port para la comunicación de los servicios
      - "15672:15672" # Management UI para monitoreo (http://localhost:15672)
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 5s
      timeout: 15s
      retries: 5
    networks:
      - love-saga-network

  # 2. MICROSERVICIO COORDINADOR (DECISOR)
  coordinator-service:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.coordinator
    container_name: love-coordinator
    environment:
      RABBITMQ_HOST: rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - love-saga-network

  # 3. MICROSERVICIO COREÓGRAFO (ANA)
  girl-service:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.girl
    container_name: girl-service
    environment:
      RABBITMQ_HOST: rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - love-saga-network

  # 4. MICROSERVICIOS FAMILIARES (Votantes y Oyente)
  mom-service:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.mom
    container_name: mom-service
    environment:
      RABBITMQ_HOST: rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - love-saga-network

  dad-service:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.dad
    container_name: dad-service
    environment:
      RABBITMQ_HOST: rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - love-saga-network
      
  brother-service:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.brother
    container_name: brother-service
    environment:
      RABBITMQ_HOST: rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - love-saga-network

  # 5. MICROSERVICIO PRODUCTOR (INICIADOR DE LA SAGA)
  suitor-service:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.suitor
    container_name: suitor-service
    environment:
      RABBITMQ_HOST: rabbitmq
      SUITOR_NAME: 'Alfredo' 
    depends_on:
      rabbitmq:
        condition: service_healthy
      coordinator-service:
        condition: service_started
      girl-service:
        condition: service_started
      mom-service:
        condition: service_started
      dad-service:
        condition: service_started
    networks:
      - love-saga-network

networks:
  love-saga-network:
    driver: bridge